<div class="task-item" data-id-task="<%= task.id %>" data-toggle="modal" data-target=".bs-example-modal-lg" >
  <div class="task-info">
    <span class="task-title">
      <%= task.name %>
    </span>
    <span class="task-avatar">
      <%= image_tag "img.jpg", class: "avatar-task-owner" %>
    </span>
  </div>
</div>
