<div class="task-item" data-id-task="<%= task.id %>" data-toggle="modal" data-target=".bs-example-modal-lg" >
  <div class="task-info">
    <span class="task-title">
      <%= task.name %>
    </span>
    <span class="task-avatar">
      <%= image_tag "img.jpg", class: "avatar-task-owner" %>
    </span>
    <div class="task-labels">
    	<ul class="list-labels-in-task">
    		<li class="btn-success item-label-task"></li>
    		<li class="btn-danger item-label-task"></li>
    		<li class="btn-warning item-label-task"></li>
    		<li class="btn-success item-label-task"></li>
    		<li class="btn-danger item-label-task"></li>
    	</ul>
    </div>

    <div class="btn-edit-task">
      <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
