<% @own_projects.each do |project| %>
  <div class="item-project">
    <%= link_to project.name, project, class: "link-view-project" %>
    <span class="persent persent-new"></span>
    <span class="persent persent-in-process"></span>
    <span class="persent persent-resolved"></span>
    <span class="persent persent-testing"></span>
    <span class="persent persent-done"></span>
  </div>
<% end %>