<div id="content">
  <section class="show-owner-project">
    <div class="container">
      <div class="row">
        <h3 class="title-group-project">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <%= t ".owner_project" %>
        </h3>
        <div class="list-project">
          <%= render @own_projects %>
        </div>
      </div>
      <div class="row">
        <h3 class="title-group-project">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <%= t ".member_project" %>
        </h3>
        <div class="list-project">
          <%= render @member_projects %>
        </div>
      </div>
    </div>
  </section>
</div>
