<div id="content">
  <section class="show-owner-project">
    <div class="container">
      <div class="row">
        <h3 class="title-group-project">
          <i class="fa fa-user-o" aria-hidden="true"></i> <%= t "project.owner_project" %></h3>
        <div class="list-project">
          <%= render "item_project" %>
        </div>
      </div>
      <div class="row">
        <h3 class="title-group-project"><i class="fa fa-user-o" aria-hidden="true"></i> <%= t "project.member_project" %></h3>
        <div class="list-project">
          <div class="item-project">
            <a href="#">demo</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
