.div-menu-tooltip {
  margin: 32px 0px 0px -101px;
  padding: 0;
  width: 250px;
  color: gray;
  border: 0;
}

.div-menu-tooltip input {
  background-color: #e2e4e6;
  width: 235px;
  margin: auto;
}

.div-menu-tooltip input {
  background-color: #e2e4e6;
  width: 235px;
  margin: auto;
}

.div-menu-tooltip a {
  border-radius: 5px;
  color: gray;
  margin-top:4px;
  margin: auto;
  padding: 4px 1.25rem;
  text-decoration: none;
  width: 235px;
}

.div-menu-tooltip a:hover {
  background-color: #e2e4e6;
}

.popup-menu-right {
  margin: 37px 692px;
  width: 300px;
}

.title-popup {
  border-bottom: 1px solid gray;
  color: gray;
  text-align: center;
}
/***************************************/
.avatar-profile {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.profile-infor {
  line-height: 45px;
}

.profile-infor {
  margin-top: 27px;
}

.input-profile {
  margin-top: -15px;
  margin-bottom: 0px;
}

.close-popup {
  margin-right: 10px;
  cursor: pointer;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #4CAF50;
}
.pen-title span a {
  color: #4CAF50;
  background-color: white;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #4CAF50;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #4CAF50;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #4CAF50;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #4CAF50;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #449647;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

.login-form {
  border: 1px solid #cecece;
}

.about-us {
  background: white;
  border-radius: 6px;
  bottom: 44px;
  height: 130px;
  left: 7px;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 300px;

  a {
    font-weight: bold;
    cursor: pointer;
  }
}
