.modal {
  background-color: rgba(4, 4, 4, 0.1) !important;
}

.modal-show-info {
  .modal-content {
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      background-clip: padding-box;
      background-color: #edeff0;
      border: none;
      border-radius: 3px !important;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      margin-bottom: 30px;
      min-height: calc(100vh - 50px) !important;
      outline: 0;
      position: relative;

    .modal-body {
      height: 100%;
      border-radius: 3px;
      color: #333 !important;

      .title-task {
        background: unset;
        border: unset;

        &:focus {
          background-color: white;
          border: 1px solid #333;
        }
      }

      .header-modal {
        h3 {
          font-weight: bold;
          font-size: 20px;
          margin: 0;
          color: #333;

          i {
            color: #a9a5a5;
            padding-right: 8px;
          }
        }
      }

      .content-task {
        h4 {
          font-weight: bold;
          font-size: 16px;
          margin: 20px 0 11px 10px;
          color: #333;

          i {
            font-size: 21px;
            margin-left: -6px;
            color: #a9a5a5;
            padding-right: 8px;
          }
        }
      }

      .list-label-task {
        button {
          width: 48px;
          height: 30px;
        }

        .btn-add-label {
          background: #d2d2d2;
          padding: 0;
          width: 30px;
        }

        .dropdown-add-label {
          display: inline-block;
        }

        .title-form-labels {
          border-bottom: 1px solid #b9b9b9;
          color: #676666;
          text-align: center;
        }

        .element-label {
          position: relative;
          height: 25px;

          .label-item {
            width: 80%;
            height: 20px;
            margin: 5px 5px 0 5px;
            border-radius: 3px;
            display: inline-block;
          }

          .label-check {
            display: inline-block;
            position: absolute;
            top: 5px;
          }

        }
      }

      .detail-content-comment{
        padding: 10px 0;

        .avatar-comment-task {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        button {
          font-size: 14px;
          font-weight: bold;
        }

        textarea {
          box-shadow: 1px 1px 1px #bfbfbf;
          margin-bottom: 10px;
          resize: none;
          outline: 0;
          border: unset;
        }

        .box-comment {
          padding-left: 7px;
        }
      }

      .detail-content {
        margin-left: 30px;

        .info-activity {
          margin-left: -30px
        }

        .form-description-task {
          width: 100% !important;
          margin-bottom: 10px;
        }

        #show-description-update {
          .btn-save-description {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }

    a {
      text-decoration: underline;
      color: #9a9999;
    }

    .title-position-task {
      line-height: 28px;
      color: #9a9999;
      font-size: 15px;
      font-weight: normal;
    }
  }

  .modal-dialog {
    width: 770px !important;
    top: 10% !important;
    margin-bottom: 0 !important;
    margin-top: -20px !important;
  }

  .icon-close-modal {
    cursor: pointer;
    font-size: 27px;
    position: absolute;
    right: 8px;
    top: -2px;
  }
}

.modal  {
  padding-right: 0px;
  background-color: rgba(4, 4, 4, 0.8);
}

label {
  margin-bottom: unset !important;
}

.btn-create-new-project {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: normal;
  word-wrap: break-word;

  p {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: normal;
    width: 268px;
    word-wrap: break-word;
  }
}

.file-upload{
  height: 100px;
  width: 100px;
  border-radius: 100px;
  position: relative;
  top: -97px;
  left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, unset 50%, #ffffff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 25px;

  input[type='file']{
    height:200px;
    width:200px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;
  }

  &:hover{
    background-position: 0 -100%;
    color:#2590EB;
  }
}

.dropdown-menu {
  .header {
    border-bottom: 1px solid #D6DADC;
    box-sizing: border-box;
    color: #838c91;
    display: block;
    line-height: 33px;
    margin: 0 10px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 2pc;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
  }

  .pop-over-header-back-btn {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 10px 10px 4px !important;
    position: absolute;
    left: 6px;
    text-decoration: none;
    top: 0;
    z-index: 2;
  }

  .pop-over-header-close-btn {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 10px 10px 4px !important;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 2;
  }

  .input-text {
    -webkit-appearance: none;
    background-color: #E2E4E6;
    border-radius: 3px;
    border: 1px solid #CDD2D4;
    box-sizing: border-box;
    display: block;
    margin-bottom: 9pt;
    padding: 7px;
  }
}

.show-info-user-search {
  color: #838c91;
}