body {
  font-family: arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  background-color: #44a732 !important
}

.nav-tabs > li {
  display: inline-block !important;
  float: none !important;
}

.projects {
  .project {
    background-color: #4bbf6b;
    padding: 6px 10px;
    border-radius: 3px;
    float: left;
    width: 100%;
    margin-bottom: 20px;

    .title {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 3px 3px;
    }
  }
}

#header {

  padding: 4px;
  height: 40px;

  .right-dropdown-menu {
    position: relative;

    .dropdown-menu, .step-menu {
      width: 300px;
      position: fixed !important;
      padding: 5px 5px;
      top: 43px;
      left: unset !important;
      right: 5px !important;
      background: #ffffff;

      hr {
        background: #D6DADC;
        border: 0;
        color: #D6DADC;
        height: 1px;
        margin: 1pc 0;
        width: 100%;
        padding: 0;
        margin: 8px 0;
      }

      .user-name {
        color: #9c9b9b;
      }

      .close-icon {
        position: absolute;
        top: 2px;
        right: 8px;
        font-size: 23px;
        cursor: pointer;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 5px;

          .btn-create-new-project {
            cursor: pointer;
            display: block;
            font-weight: 700;
            padding: 6px 10px;
            position: relative;
            margin: 0 -10px;
            text-decoration: none;
            color: #444;
          }

          span {
            clear: both;
            color: #838c91;
            display: block;
            font-size: 9pt;
            font-weight: 400;
            line-height: 15px;
          }

          &:hover {
            cursor: pointer;
            background-color: #60bd4f;

            .btn-create-new-project, span {
              color: white;
            }
          }
        }
      }

    }
  }

  .left-header-menu {
    margin-top: -2px;
  }

  .form-search-project {
    height: 30px !important;
    margin-top: 1px;

    .search-input {
      height: 30px;
    }
  }

  .step-menu {
    background-clip: padding-box;
    background-color: #ffffff !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 14px;
    list-style: none;
    display: none;
    margin: 2px 0 0;
    width: 300px;
    position: absolute;
    text-align: left;
    top: 30px;
    height: 203px;
    right: -137px !important;
    z-index: 1000;
    padding: 5px 7px !important;
    height: auto !important;
  }

  .create-new-project {
    width: 150px;
  }

  .back-icon {
    font-size: 17px;
    position: absolute;
    top: 8px;
    cursor: pointer;
  }
}

#content{
  background-color: #61bd4f;
  min-height: 100vh;
  width: 100%;

  .list-project {
    display: flex;
    flex-wrap: wrap;

    .item-project {
      background-color: #f7f7f7;
      border-radius: 4px;
      border: 1px solid #e6e2e2;
      height: 100px;
      margin: 5px;
      padding: 5px;
      position: relative;
      width: 250px;
    }
  }

  .side-bar-menu-project {
    background-color: #edeff0;
    box-shadow: 1px 1px 3px #959494;
    display: none;
    height: calc(100vh - 47px);
    position: fixed;
    right: 0;
    top: 46px;
    width: 344px;
    z-index: 0;

    .title-menu-info-project {
      border-bottom: 1px solid #dedede;
      color: #4e4e4e;
      font-size: 16px;
      font-weight: bold;
      padding: 4px;
      padding-bottom: 14px;
      text-align: center;
    }

    .list-member-project {
      height: 55px;
      padding: 11px;
      width: 100%;

      .item-member-project {
        display: inline-block;
      }

      .item-member-show-full-member {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      img {
        border-radius: 50%;
        width: 28px;
        height: 28px;
      }

      .list-full-member {
        width: 247px;
        height: 200px;
        right: -98px;
        top: 29px;
        left: unset;
      }
    }

    .dropdown-add-label a {
      background: #c7c7c7;
      border-radius: 50%;
      padding: 4px 7px;
      line-height: 17px;
    }

    .form-search-member {
      width: 97%;
      padding: 7px;
      margin-top: 6px;
      box-shadow: unset;
      -webkit-box-shadow: unset;

      .show-info-user-search {
        margin-top: 5px;
        padding: 5px;
      }
    }

    .result-search-user-add {
      h5 {
        font-weight: bold;
      }

      .list-member-result {
        border-radius: 0;

        .list-group-item {
          border: 0;
          border-radius: 0;
        }

        .user-item {
          &:hover {
            background-color: #53a048;
            color: white;
            cursor: pointer;
          }
        }
      }
    }

    hr {
      border-top: 1px solid #e2dddd;
      margin-bottom: 10px;
      margin-top: 17px;
    }

    .icon-back-menu {
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      left: 10px;
      text-decoration: none;
      top: 9px;
      z-index: 2;
    }

    .icon-close-menu {
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      right: 10px;
      text-decoration: none;
      top: 9px;
      z-index: 2;
    }
  }
}

.show-owner-project {
  background-color: white;
  height: calc( 100vh - 45px );
  overflow-y: auto;

  .title-group-project {
    color: #333;
    font-weight: bold;
    font-size: 15px;
  }
}

.btn-project {
  background-color: rgba(255, 255, 255, 0.3);
  color: #f3f3f3;
  font-weight: bold;
  margin-top: 1px;

  &:hover {
    background-color: rgba(255,255,255,.2);
    color: white;
    cursor: pointer;
  }
}

.col-header {
  padding-left: 19px !important;
  margin-right: -31px !important;
}

.item-new-task {
  display: none;
  height: 135px;
  clear: both;

  .form-add-task {
    position: relative;

    .field-info-new-task {
      background-color: #fff;
      border: none;
      border-radius: 4px;
      height: 88px;
      margin-bottom: 7px;
      width: 100%;
    }

    .btn-add-task {
      bottom: -39px;
    }

    .btn-close-form-new-task {
      background: unset;
      border-radius: 50%;
      border: none;
      bottom: -34px;
      left: 68px;
    }
  }

}

.stylish-input-group {
  height: 32px;
  font-size: .9em;

  .input-group-addon{
    background-color: rgba(255,255,255,.3) !important;
    border: 0;
  }

  .fa-search {
    position: absolute;
    top: 9px;
    right: 9px;
    color: white;
  }

  .form-control{
    box-shadow:0 0 0;
    border: 0;
    background-color: rgba(255,255,255,.3);
  }

  button{
    border:0;
    background:transparent;
  }
}

.show-profile {
  display: block;
}

.btn-notify {
  padding: 6px 8px;
  margin-right: 5px;
}

.show-profile .img-avatar {
  border-radius: 50%;
  border: 2px solid white;
  height: 33px;
  margin-top: -1px;
  width: 32px;
}

#nav-menu {
  width: 100%;
  height: 40px;
  padding: 5px;
}

#nav-menu .btn-nav {
  background-color: transparent;
  color: #f3f3f3;
  font-weight: bold;
  padding: 6px;
  font-size: 14px;

  &:hover {
    background-color: rgba(99, 97, 99, .51) !important;
  }
}

#nav-menu .btn-nav:hover {
  background-color: rgba(255,255,255,.2);
  cursor: pointer;
}

#board-container {
  width: 100%;
  height: calc(100vh - 85px);
  background-color: #333;
}

.board-container {
  display: flex;
  margin-top: 5px;
  padding: 0 10px;
  width: 100%;
}

.item-board {
  background: #E2E4E6;
  border-radius: 3px;
  flex-direction: row;
  height: 100%;
  margin-right: 10px;
  padding-bottom: 5px;
  width: 270px;
}

.header-board {
  height: 30px;
  padding: 0 7px;
  display: flex;
}

.header-board span {
  font-size: 1em;
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
  width: 220px;
}

.btn-info-item-board {
  background-color: transparent;
  color: #b5aeae;
  float: right;
  height: 23px;
  margin-top: 5px;
  padding: 5px !important;
  width: 23px;
}

.btn-info-item-board:hover {
  background-color: #d8d6d6;
}

.task-board {
  min-height: 50px;
  max-height: calc(100vh - 160px);
  padding: 0 7px;
  overflow-x: hidden;
}

.task-board::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.task-board::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.task-board::-webkit-scrollbar-thumb
{
  background-color: #9e9e9e;
}

.search-task-item,
.task-item {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  min-height: 79px;
  padding: 3px;
  width: 100%;

  .avatar-task-owner {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -29px;
  }

  .task-info {
    height: 44px;
    width: 100% !important;
    position: relative;

    .task-title {
      padding: 0;
      width: 80%;
    }

    .task-avatar {
      padding: 0;
      width: 20%;
    }

    .btn-edit-task {
      height: 20px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      display: none;

      .btn {
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }

    &:hover .btn-edit-task {
      display: block;
    }
  }
}

.search-task-item {
  cursor: pointer;
  background-color: #f1f0f0;
}

.task-item:hover {
  cursor: pointer;
  background-color: #f1f0f0;
}

.footer-board {
  padding: 1px 7px;

  a {
    color: #929292;
  }
}


.ui-sortable-placeholder {
  width: 100%;
  min-height: 69px;
  border: 2px dashed #CCC;
  border-radius: 4px;
  background: none;
  margin-bottom: 10px;
}


.profile-infor {
  margin-bottom: 36px;
}

.list-setting {
  padding: 0;
  list-style: none;
  margin-bottom: -9px;

  li {
    width: 100%;
    border-radius: 4px;
    // margin-bottom: 5px;
    position: relative;

    .dropdown-menu {
      width: 300px;
      height: 300px;
      padding: 5px;

      .close-menu {
        color: #bdbdbd;
        cursor: pointer;
        font-size: 23px;
        position: absolute;
        right: 8px;
        top: 5px;
      }

      h3 {
        font-size: 14px;
        color: #8c8484;
        text-align: center;
        margin: 10px;
      }

      hr {
        margin: 6px;
        padding: 0 10px;
      }

      .list-member-modal {
        list-style: none;
        margin-top: 10px;
        padding: 0;
        padding-right: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 192px;

        .avatar-item-user-list-member {
          border-radius: 50%;
          height: 32px;
          margin-right: 5px;
          width: 32px;
        }

        .item-member-modal {
          padding: 3px 5px;
          border-radius: 4px;

          &:hover {
            background-color: #60bd4f;
            color: white;
            cursor: pointer;
          }
        }

        .tick-user-handle-task {
          margin-top: 5px;
          float: right;
        }

        .item-label-modal {
          padding: 5px;
          border-radius: 4px;
          margin-bottom: 3px;

          &:hover {
            background-color: #5cb85c;
            color: white;
            cursor: pointer;
          }

          .checked-task {
            float: right;
          }
        }
      }


      .list-member-modal::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }

      .list-member-modal::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }

      .list-member-modal::-webkit-scrollbar-thumb {
        background-color: #9e9e9e;
      }
    }
  }

  .btn-menu-modal-task {
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;

    i {
      padding-right: 10px;
      color: #a7a7a7;
    }

    &:hover {
      background-color: #dddddd;
    }
  }
}

.list-activity {
  min-height: auto;
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;

  .item-activity {
    .avatar-user-activity {
      width: 30px;
      border-radius: 50%;
    }

    .time-stamp {
      color: #8a8a8a;
    }

    .info-activity {
      border-bottom: 1px solid #dad7d7;
      padding: 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
}

.scroll-bar-style {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-bar-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scroll-bar-style::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scroll-bar-style::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
}

.persent {
  display: inline-block;
  height: 42%;
  margin-right: -4px;
  margin-top: 52px;
}

.persent-new {
  width: 10%;
  background-color: #5bc0de;
}

.persent-in-process {
  width: 20%;
  background-color: #337ab7;
}

.persent-resolved {
  width: 30%;
  background-color: #d9534f;
}

.persent-testing {
  width: 10%;
  background-color: #f0ad4e;
}

.persent-done {
  width: 30%;
  background-color: #5cb85c;
}

.link-view-project {
  position: absolute;
}

.btn-settings {
  text-align: left !important;
  width: 100%;
  background-color: unset;
  font-weight: bold !important;

  &:hover {
    background-color: #dddddd;

    i {
      color: #333;
    }
  }

  i {
    color: #999;
    font-size: 19px;
    line-height: 14px;
    margin-right: 11px;
  }
}

.btn-show-menu-project {
  text-decoration: underline;
}

.filter-project {
  padding: 0px 10px;
}

.input-filter-task {
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #E2E4E6;
  border: 1px solid #CDD2D4;
  border-radius: 3px;
  display: block;
  margin-bottom: 9pt;
  padding: 7px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.label-list-item-link-name {
  width: 100%;
  display: inline-block;
  text-transform: capitalize;
}

.label-list-item-link-label {
  width: 30px;
  background: #ccc;
  height: 30px;
  display: -webkit-inline-box;
  border-radius: 3px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.label-list-item-link {
  padding: 5px 0px 5px 40px;
  position: relative;
  display: block;
  line-height: 32px;
  border-radius: 3px;
  color: #444;
}

.label-list-item-link:hover {
  color: #fff;
  background: #298fca;
}

.color-success {
  background: #5cb85c !important;
}

.color-danger {
  background: #d9534f !important;
}

.color-default {
  background: #fff !important;
}

.color-info {
  background: #5bc0de !important;
}

.color-warning {
  background: #f0ad4e !important;
}

.color-primary {
  background: #337ab7 !important;
}

.avatar-filter {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}


