body {
  font-family: arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

#header {
  background-color: #529646;
  padding: 7px;
  height: 45px;

  .logo {
    margin-right: -27px;
  }

  .right-dropdown-menu {
    position: relative;

    .dropdown-menu, .step-menu {
      width: 300px;
      position: fixed !important;
      padding: 5px 5px;
      top: 43px;
      left: unset !important;
      right: 5px !important;
      background: #e2e4e6;

      hr {
        margin: 5px 0 !important;
        border-color: #bdbbbb;
      }

      a {
        color: #444;
        font-weight: bold;
        padding: 5px 0;
      }

      .user-name {
        color: #b5b5b5;
        font-weight: bold;
      }

      .close-icon {
        position: absolute;
        top: 2px;
        right: 8px;
        font-size: 19px;
        cursor: pointer;
      }

      li a {
        padding: 5px 10px;
        border-radius: 4px;

        &:hover {
          background-color: #60bd4f;
        }
      }
    }
  }

  .form-search-project {
    height: 30px !important;

    .search-input {
      height: 30px;
    }
  }

  .step-menu {
    background-clip: padding-box;
    background-color: #ffffff !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 14px;
    list-style: none;
    display: none;
    margin: 2px 0 0;
    width: 300px;
    position: absolute;
    text-align: left;
    top: 30px;
    height: 203px;
    right: -137px !important;
    z-index: 1000;
    padding: 5px 7px !important;
    height: auto !important;
  }

  .create-new-project {
    width: 150px;
  }

  .back-icon {
    font-size: 17px;
    position: absolute;
    top: 8px;
    cursor: pointer;
  }
}

#content{
  background-color: #61bd4f;
  min-height: 100vh;
  width: 100%;

  .list-project {
    display: flex;
    flex-wrap: wrap;

    .item-project {
      margin: 5px;
      border-radius: 4px;
      padding: 5px;
      background-color: white;
      width: 250px;
      height: 100px;
    }
  }

  .side-bar-menu-project {
    background-color: #edeff0;
    box-shadow: 1px 1px 7px;
    display: none;
    height: calc(100vh - 85px);
    overflow-x: hidden;
    overflow-y: auto;  
    padding: 6px;
    position: fixed;
    right: 0;
    top: 85px;
    width: 344px;

    .title-menu-info-project {
      border-bottom: 1px solid #bdbdbd;
      color: #989898;
      font-weight: bold;
      margin: 0px;
      padding: 8px;
      text-align: center;
    }

    .list-member-project {
      height: 55px;
      padding: 11px;
      text-align: center;
      width: 100%;

      .item-member-project {
        display: inline-block;
      }

      .item-member-show-full-member {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      img {
        border-radius: 50%;
        width: 32px;
      }

      .list-full-member {
        width: 247px;
        height: 200px;
        right: -6px;
        top: 29px;
        left: unset;
      }
    }

    .btn-invite-member {
      width: 100%;
      text-align: left;
      border-bottom: 1px solid #b5a9a9;

      &:hover {
        background-color: #b7b7b7;
      }
    }

    .form-search-member {
      width: 97%;
      padding: 7px;

      box-shadow: unset;
      -webkit-box-shadow: unset;

      .title {
        border-bottom: 1px solid #bbbaba;
        color: #969393;
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-align: center;
      }
    }

    .result-search-user-add {
      h5 {
        font-weight: bold;
      }

      .list-member-result {
        border-radius: 0;

        .list-group-item {
          border: 0;
          border-radius: 0;
        }

        .user-item {
          &:hover {
            background-color: #53a048;
            color: white;
            cursor: pointer;
          }
        }
      }
    }

    hr {
      border-top: 1px solid #b5b5b5;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}

.show-owner-project {
  .title-group-project {
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
}

.btn-project {
  background-color: rgba(255,255,255,.3);
  color: #f3f3f3;
  font-weight: bold;
  padding: 6px;
  margin-right: 10px;

  &:hover {
    background-color: rgba(255,255,255,.2);
    color: white;
    cursor: pointer;
  }
}

.item-new-task {
  display: none;

  .form-add-task {
    position: relative;

    .field-info-new-task {
      border: none;
      border-radius: 4px;
      width: 100%;
      height: 88px;
    }

    .btn-add-task {
      position: absolute;
      bottom: -39px;
    }

    .btn-close-form-new-task {
      position: absolute;
      bottom: -34px;
      left: 54px;
      border: none;
    }
  }

}

.stylish-input-group {
  height: 32px;
  font-size: .9em;

  .input-group-addon{
    background-color: rgba(255,255,255,.3) !important;
    border: 0;
  }

  .fa-search {
    position: absolute;
    top: 7px;
    right: 9px;
    color: white;
  }

  .form-control{
    box-shadow:0 0 0;
    border: 0;
    background-color: rgba(255,255,255,.3);
  }

  button{
    border:0;
    background:transparent;
  }
}

.show-profile {
  display: block;
}

.btn-notify {
  padding: 6px 8px;
  margin-right: 5px;
}

.show-profile .img-avatar {
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -3px;
  width: 36px;
}

#nav-menu {
  width: 100%;
  height: 40px;
  padding: 5px;
}

#nav-menu .btn-nav {
  background-color: transparent;
  color: #f3f3f3;
  font-weight: bold;
  padding: 6px;
}

#nav-menu .btn-nav:hover {
  background-color: rgba(255,255,255,.2);
  cursor: pointer;
}

#board-container {
  width: 100%;
  height: calc(100vh - 85px);
  background-color: #333;
}

.board-container {
  padding: 0 10px;
  width: 100%;
  display: flex;
}

.item-board {
  background: #E2E4E6;
  border-radius: 3px;
  flex-direction: row;
  height: 100%;
  margin-right: 10px;
  padding-bottom: 5px;
  width: 270px;
}

.header-board {
  height: 30px;
  padding: 0 7px;
  display: flex;
}

.header-board span {
  font-size: 1em;
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
  width: 220px;
}

.btn-info-item-board {
  background-color: transparent;
  color: #b5aeae;
  float: right;
  height: 23px;
  margin-top: 5px;
  padding: 5px !important;
  width: 23px;
}

.btn-info-item-board:hover {
  background-color: #d8d6d6;
}

.task-board {
  min-height: 50px;
  max-height: calc(100vh - 160px);
  padding: 0 7px;
  overflow-y: auto;
}

.task-board::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.task-board::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.task-board::-webkit-scrollbar-thumb
{
  background-color: #9e9e9e;
}


.task-item {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  min-height: 69px;
  padding: 3px;
  width: 100%;
  // position: relative;
  // z-index: 1 !important;
  //
  .avatar-task-owner {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    float: right;
    margin-top: 37px;
    margin-right: 1px;
  }

  .task-info {
    height: 44px;
    width: 100% !important;
    position: relative;

    .task-title {
      padding: 0;
      width: 80%;
    }

    .task-avatar {
      padding: 0;
      width: 20%;
    }
    
    .btn-edit-task {
      height: 20px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      display: none;

      .btn {
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }

    &:hover .btn-edit-task {
      display: block;
    }
  }
}

.task-item:hover {
  cursor: pointer;
  background-color: #f1f0f0;
}

.footer-board {
  clear: both;
  height: 30px;
  margin-top: 19px;
  padding: 0 7px;
}

.footer-board a {
  color: #929292;
}

.ui-sortable-placeholder {
  width: 100%;
  min-height: 69px;
  border: 2px dashed #CCC;
  border-radius: 4px;
  background: none;
  margin-bottom: 10px;
}


.profile-infor {
  margin-bottom: 36px;
}

.list-setting {
  padding: 5px;
  list-style: none;

  li {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;

    .dropdown-menu {
      width: 300px;
      height: 300px;
      padding: 5px;
      
      .close-menu {
        color: #bdbdbd;
        cursor: pointer;
        font-size: 23px;
        position: absolute;
        right: 8px;
        top: 5px;
      }

      h3 {
        font-size: 14px;
        color: #bdbdbd;
        text-align: center;
        margin: 10px;
      }

      hr {
        margin: 6px;
        padding: 0 10px; 
      }

      .list-member-modal {
        list-style: none;
        margin-top: 10px;
        padding: 0;
        padding-right: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 242px;

        .avatar-item-user-list-member {
          width: 32px;
          border-radius: 50%;
          margin-right: 5px;
        }

        .item-member-modal {
          padding: 5px;
          border-radius: 4px;

          &:hover {
            background-color: #88888845;
            color: white;
            cursor: pointer;
          }
        }

        .item-label-modal {
          padding: 5px;
          border-radius: 4px;

          &:hover {
            background-color: #5cb85c;
            color: white;
            cursor: pointer;
          }

          .checked-task {
            float: right;
          }
        }
      }

      
      .list-member-modal::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }

      .list-member-modal::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }

      .list-member-modal::-webkit-scrollbar-thumb {
        background-color: #9e9e9e;
      }
    }
  }

  button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    font-weight: bold;

    i {
      padding-right: 10px;
      color: #a7a7a7;
    }

    &:hover {
      background-color: #dddddd;
    }
  }
}

.list-activity {
  list-style: none;
  padding-left: 11px;
  padding-top: 5px;

  .item-activity {
    .avatar-user-activity {
      width: 23px;
      border-radius: 50%;
    }

    .time-stamp {
      color: #8a8a8a;
    }

    .info-activity {
      border-bottom: 1px solid #bbbbbb;
      padding: 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
}

.side-bar-menu-project::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.side-bar-menu-project::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.side-bar-menu-project::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
}

.persent {
  display: inline-block;
  height: 42%;
  margin-right: -4px;
  margin-top: 52px;
}

.persent-new {
  width: 10%;
  background-color: #5bc0de;
}

.persent-in-process {
  width: 20%;
  background-color: #337ab7;
}

.persent-resolved {
  width: 30%;
  background-color: #d9534f;
}

.persent-testing {
  width: 10%;
  background-color: #f0ad4e;
}

.persent-done {
  width: 30%;
  background-color: #5cb85c;
}

.link-view-project {
  position: absolute;
}