.task-info {
  .task-labels {
    .list-labels-in-task {
      list-style-type: none;
      padding: 0;
      line-height: 10px !important;

      .item-label-task {
        border-radius: 9px;
        display: inline-block;
        height: 7px;
        width: 40px;
      } 
    }
  } 
}

.action-modal-task {
  padding-top: 65px;

  .title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
  }

  .list-setting {
    .btn-menu-modal-task {
      background-color: #dddddd;
      border-bottom: 1px solid #a7a7a7;

      &:hover {
        background-color: #c1c1c1;
      }
    }
  }
}

.show-description-task {
  background-color: unset;
  color: #a9a5a5 !important;
  font-size: 14px !important;

  &:hover {
    background-color: #c1c1c1;
    color: #444242;
  }
}

.collapse {
  transition: height 0.01s;
}

.edit_task {
  position: relative;
  top: -34px;

  .form-description-task {
    background: #ddd;
  }

  .btn-save-description {
    padding: 5px 17px;
  }

  .close-edit-description {
    background: unset;
    border: unset;
    font-size: 29px;
    position: absolute;
    bottom: -7px;
    left: 75px;
  }
}

#datetimepicker {
  margin-left: 54px;
  margin-top: -18px;
}

.block-due-date-modal {
  margin-bottom: 10px;
}

.block-due-date-task {
  position: absolute;
  top: 50px;
}