<% task.activities.each do |activity| %>
  <li class="item-activity row">
    <div class="col-xs-1">
      <%= image_tag "avatar.jpg", class: "avatar-user-activity" %>  
    </div>
    <div class="col-xs-10 info-activity">
      <a href="#"><%= User.find_by(id: activity.object).name %></a>
      <span><%= activity.action_type + " " + activity.content %></span>
      <br>
      <span class="time-stamp">3 hours ago</span>
    </div>
  </li>
<% end %>